.padding{
    padding: 5rem;
}

.word-count-btn{
    display: block;
    margin-top: 1rem;
}

.App{
    background-color: rgb(0, 97, 181);
    min-height: 100vh;
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-blend-mode: luminosity;
}

.word-count-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1024px){
    .padding{
        padding: 2rem;
    }
}